<footer>
    <div class="container">
        <div class="footer-top">
            <a href="/" class="logo">Avto Rem Land</a>
            <a href="tel:+73532424945" class="tel">+7 3532 <b>424945</b></a>
        </div>
        <div class="copyright">
            <a href="#">Политика конфиденциальности</a>
            <a href="#">Пользовательское соглашение </a>
            <span>Информация, представленная на сайте, не является публичной офертой</span>
            <a href="https://promo01.ru/" target="_blank" class="gen">Разработка сайта “Генерация”</a>
        </div>
    </div>
</footer>